<h1><%= @restaurant.name %></h1>
<p><strong>Address: </strong><%= @restaurant.address %></p>
<p><strong>Phone: </strong><%= @restaurant.phone_number %></p>
<p><strong>Category: </strong><%= @restaurant.category %></p>
<%= link_to "List of restaurants", restaurants_path %>
<!-- RATINGS TO GO HERE -->
<ul>
  <% @restaurant.reviews.each do |review| %>
    <p><%= review.content %></p>
    <h6><%= "*" * review.rating %></h6>
  <% end %>
</ul>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
